/*
caniuse.com (recent browsers)
quirksmode.org (Older browsers)
wikipedia.org/wiki/comparison_of_layout_engines_(Cascading_Style_Sheets) (engines)
browser specific developer network to check the browsers.
*/


body{
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0px auto;
    width:80%;
    background-color: #6AFA97;
}

h1{ font-size: 1.8em;}
h2{font-size: 1.6em;}
h3{font-size: 1.4em;}
h4{font-size: 1.2em;}

a, a:hover{
    text-decoration: none;
    color: black;
}

.navigation, .footer, .main-content, .google-play, .company-brand{
    background-color: white;
    margin-bottom: 1em;
}

.company-brand img, .company-brand h1{
    position: relative;
    display: inline;
    vertical-align: middle;
    margin: 10px 25px;
}

.navigation ul {
    padding: 10px;
    margin-left: 10px;
}

    .navigation ul li{
        display: inline;
        margin: 10px;
    }

.main-content{
    width: 60%;
    float: left;
    text-align: center;
}
    .main-content section{
        width:40%;
        float: left;
        text-align: left;
        margin: 5%;
        margin-top: 0px;
    }
        .main-content section p, .main-content section h2{
            padding-left: 0px;
    }
    
.image-responsive{
    max-width: 90%;
    height: auto;
    display: block;
    margin: 10px 5%;
}
    
.google-play{
    width: 30%;
    float: right;
}
    .google-play h3, .google-play p, .google-play h4{
            padding: 0px 5%;
    }
.footer{
    clear: both;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px){
    body{
    width:100%;
}
p{
    font-size: 12px;
}

.main-content, .google-play{
     width: auto;
     margin: 0px 10px;
}
.company-brand, .main-content, .google-play{
    margin-bottom: 20px;
}
.main-content, .google-play{
    padding-bottom: 5px;
}
        .google-play .image-responsive{
            max-width: 50%;
            margin: 5px;
            float:left;
        }
        .google-play h3, .google-play p, .google-play h4{
            float:right;
            max-width: 45%;
            min-width: 45%;
            padding: 0%;
            text-align: left;
            margin: 10px;
        }
        
.footer{
    margin-bottom: 10px;
}
}